<launch>
	<node name="rviz_rviz" pkg="rviz" type="rviz" output="log" required="true" if="$(optenv RVIZ_RVIZ true)" args="-d $(find follow_the_drow)/config/$(optenv RVIZ_CONFIG default.rviz)" />
	<node name="rosbag_play" pkg="rosbag" type="play" output="log" if="$(optenv ROSBAG_PLAY false)" args="-l /~/catkin_ws/out/$(env RECORD_LOCATION latest.bag)" />
	<node name="follow_the_drow_live_loader" pkg="follow_the_drow" type="live_loader" output="screen" launch-prefix="gdb -ex run --args" if="$(optenv LIVE_LOADER true)">
		<rosparam param="transform_data" file="$(find follow_the_drow)/config/robair_transform.yaml" />
		<param name="top_lidar_topic" value="$(optenv TOP_LIDAR_TOPIC scan2)" />
		<param name="bottom_lidar_topic" value="$(optenv BOTTOM_LIDAR_TOPIC scan)" />
		<param name="odometry_topic" value="$(optenv ODOMETRY_TOPIC odom)" />
	</node>
	<node name="follow_the_drow_file_loader" pkg="follow_the_drow" type="file_loader.py" output="screen" if="$(optenv FILE_LOADER false)">
		<param name="dataset_path" value="$(optenv DATASET_PATH test)" />
	</node>
	<node name="follow_the_drow_visualizer" pkg="follow_the_drow" type="visualizer" output="screen" launch-prefix="gdb -ex run --args" if="$(optenv VISUALIZER true)">
		<param name="general_frame" value="$(optenv GENERAL_FRAME base_link)" />
		<param name="flatten_output" value="$(optenv FLATTEN_OUTPUT true)" />
		<param name="bottom_backgorund_color" value="$(optenv BOTTOM_BACKGROUND_COLOR blue)" />
		<param name="top_backgorund_color" value="$(optenv TOP_BACKGROUND_COLOR cyan)" />
		<param name="center_marker_color" value="$(optenv CENTER_MARKER_COLOR magenta)" />
		<param name="algorithmic_detection_color" value="$(optenv ALGORITHMIC_DETECTION_COLOR red)" />
		<param name="back_visualization_topic" value="$(optenv BACK_VISUALIZATION_TOPIC visualization_back)" />
		<param name="front_visualization_topic" value="$(optenv FRONT_VISUALIZATION_TOPIC visualization_front)" />
	</node>
	<param name="heartbeat_rate" value="$(optenv HEARTBEAT_RATE 10)" />
	<param name="raw_data_topic" value="$(optenv RAW_DATA_TOPIC raw_data)" />
	<param name="algorithmic_detector_topic" value="$(optenv ALGORITHMIC_DETECTOR_TOPIC algorithmic_detector)" />
</launch>
