<launch>
	<node name="rviz_rviz" pkg="rviz" type="rviz" output="log" required="true" if="$(optenv RVIZ_RVIZ true)" args="-d /~/catkin_ws/config/$(optenv RVIZ_CONFIG marker.rviz)" />
	<node name="rosbag_play" pkg="rosbag" type="play" output="log" if="$(optenv ROSBAG_PLAY false)" args="-l /~/catkin_ws/out/$(env RECORD_LOCATION latest.bag)" />
	<node name="follow_the_drow_live_loader" pkg="follow_the_drow" type="live_loader" output="screen" launch-prefix="gdb -ex run --args" if="$(optenv LOAD_LIVE true)" />
	<node name="follow_the_drow_file_loader" pkg="follow_the_drow" type="file_loader.py" output="screen" if="$(optenv LOAD_FILE false)">
		<param name="dataset_path" value="$(optenv DATASET_PATH test)" />
	</node>
	<node name="follow_the_drow_visualizer" pkg="follow_the_drow" type="visualizer" output="screen" launch-prefix="gdb -ex run --args" if="$(optenv VISUALIZE true)">
		<param name="flatten_output" value="$(optenv VISUALIZE_FLATTEN_OUTPUT true)" />
		<param name="bottom_backgorund_color" value="$(optenv VISUALIZE_BOTTOM_BACKGROUND_COLOR blue)" />
		<param name="top_backgorund_color" value="$(optenv VISUALIZE_TOP_BACKGROUND_COLOR cyan)" />
		<param name="center_marker_color" value="$(optenv VISUALIZE_CENTER_MARKER_COLOR magenta)" />
		<param name="algorithmic_detection_color" value="$(optenv VISUALIZE_ALGORITHMIC_DETECTION_COLOR red)" />
	</node>
</launch>
